#Jupyter checkpoints to ignore
python_tools/fastf1_colletor/.ipynb_checkpoints

#Cache for fastf1
python_tools/fastf1_collector/FastF1Cache

#Node modules and DS Stores
dashboard/node_modules
backend/node_modules
._.DS_Store
dashboard/._.DS_Store
python_tools/._.DS_Store
api/node_modules

#Package Lock files
dashboard/package-lock.json
api/package-lock.json
backend/package-lock.json

#Ignore specific tpe of files
csv_data
.env

#Big test file for fetching page
python_tools/fastf1_collector/test_f1_api_call


#Extra
python_tools/utils/api_doc.py
python_tools/utils/test_f1_api_call
